.contact-filter {
  display: flex;
}
@media (max-width: $break-narrow) {
  .contact-filter {
    justify-content: center;
    input {
      border-radius: 5px;
      padding: 0.4rem;
      width: 40vh;
      margin-top: 15px;

    }
  }
}

// @media (min-width: $break-narrow) {
// }

@media (min-width: $break-normal) {
}

@media (min-width: $break-wide) {
}
