.contact-preview {
  display: flex;
  flex-direction: column;
  // background-color: #e91e630d;
  text-align: center;
  box-shadow: -2px 1px 11px #00000026;
  border-radius: 5px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: bottom right;
  cursor: pointer;
  overflow-y: hidden;

  .info {
    padding: 10px;
    flex-grow: 1;
  }

  img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: $break-narrow) {
  .contact-preview {
    align-items: center;
    border-radius: 25px;
    background-color: #007FFF;
    margin: 2.5% 5%;

    .info {
      display: flex;
      padding: 10px;
      flex-grow: 1;
      align-self: flex-start;
      align-items: center;
      gap: 1rem;

      img {
        border-radius: 50%;
        background-color: #89CFF0;
        left: 0px;
      }
    }
  }
}

// @media (min-width: break-narrow) {
// }

@media (min-width: $break-normal) {
}

@media (min-width: $break-wide) {
}
