.contact-list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  /* width: 30vh; */
  margin: 0 15% 0 15%;
}
@media (max-width: $break-narrow) {
  .contact-list {

  }
}

// @media (min-width: $break-narrow) {
// }

@media (min-width: $break-normal) {
}

@media (min-width: $break-wide) {
}
