@font-face {
    font-family: OpenSans-Regular;
    src: url('/assets//fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSans-Bold;
    src: url('/assets//fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: Raleway-Regular;
    src: url('/assets//fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Raleway-Bold;
    src: url('/assets//fonts/Raleway-Bold.ttf');
}